@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.primary-button {
  width: 197px;
  padding: 10px;
  background: orange;
  border-radius: 12px;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
}

.secondary-button {
  width: 197px;
  padding: 10px;
  background: black;
  border-radius: 12px;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
}

.third-button {
  width: 175px;
  padding: 10px;
  background: #95b226;
  border: none;
  font-size: 0.938rem;
  font-weight: 500;
  color: #ffffff;
  border-radius: 16px;
}

img {
  width: 100%;
}

/*  */
header {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}
.menu-bar {
  display: flex;
  align-items: center;
}

.menu-bar li {
  margin-right: 32px;
}

.menu-bar .one {
  font-weight: 700;
  color: orange;
}
.menu-bar .list {
  font-weight: 500;
}
.menu-bar .two {
  color: skyblue;
}
.menu-bar .three {
  color: #05d4df;
}
.menu-bar .four {
  color: #5d58ef;
}

.menu-bar .one,
.two,
.three,
.four {
  font-size: 1.25rem;
}

.menu-icon {
  display: none;
}

/* banner */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-desc {
  padding: 120px 0px;
  margin: 0 50px 0 20px;
}
.banner-desc h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.banner-desc p {
  margin-bottom: 24px;
}

/* statndard-container */

.standard {
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}
.statndard-container {
  padding: 60px 0px;
}

section h2 {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
}

.card {
  display: flex;
  padding: 80px 0px;
}
.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.card .one {
  background: linear-gradient(to bottom, #def5ff, #ffffff, #ffffff);
  border-radius: 19px;
  margin-right: 28px;
}
.card .two {
  background: linear-gradient(to bottom, #fff4dc, #ffffff, #ffffff);
  border-radius: 19px;
  margin-right: 28px;
}
.card .three {
  background: linear-gradient(to bottom, #f2e8ff, #ffffff, #ffffff);
  border-radius: 19px;
  margin-right: 28px;
}
.card .one .btn {
  color: #64c8ff;
}
.card .btn {
  color: #f0aa00;
}
.card .btn {
  color: #8700ff;
}
.card-box img {
  width: 136px;
  height: 136px;
  margin-bottom: 30px;
}

.card-box h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.card-box p {
  font-size: 0.938rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
  line-height: 2;
}
.card-box p .btn {
  font-weight: 700;
}

.arrow-icon {
  text-align: center;
}

.arrow-icon i {
  font-size: 60px;
  color: orange;
}

/* story */

.story {
  background-size: contain cover;
  background-position: center;
  /* background: linear-gradient(to top, #fec661, #ffffff, #ffffff); */
  background: linear-gradient(
    to top,

    rgba(224, 167, 68, 0.6) 50%,
    rgba(226, 171, 69, 0.4) 75%,
    rgba(245, 241, 236, 0.2) 100%
  );
}

.stories-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 0px;
  background-image: url("./assets/bg.png");
  /* background: linear-gradient(to top, #fea301, #ffffff, #ffffff); */
}
.story-card {
  padding: 80px 0px;
}

.story-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.story-card-box {
  display: grid;
  gap: 5px;
  border-radius: 16px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  background: #ffffff;
}
.story-card-box img {
  border-radius: 16px 16px 0px 0px;
}
.story-card-box h4 {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 80px 50px 80px 50px;
}

.story-card-box p {
  padding: 0px 50px 80px 50px;
}

.item-desc {
  padding: 30px;
}
.item1 {
  position: relative;
  grid-column: span 2;
  grid-row: span 2;
}

.story-card-box .story-btn {
  position: absolute;
  top: 55%;
  left: 10px;
}

.item1 .third-button {
  background: #3cd8e8;
}
.item3 .third-button {
  background: #5d58f0;
}

.stories-container .view-button {
  text-align: center;
}

/* Footer */

footer {
  background: #01acfd;
}

footer .main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.footer-item {
  color: #ffffff;
}
.footer-item li a {
  line-height: 2;
  color: #ffffff;
}
.footer-item h4 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.footer-icon-title h1 {
  font-size: 2.6rem;
}

.footer-icon-title {
  margin-bottom: 30px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 123px 0px 174px 0px;
}

.about-school {
  margin-left: 120px;
}
.footer-icon-title {
  display: flex;
  align-items: center;
}
.footer-item {
  width: 33%;
}
.footer-icon-title img {
  width: 82px;
  height: 82px;
}

.keep-touch img {
  width: 40px;
  height: 40px;
}
/* small device */
@media screen and (max-width: 576px) {
  header .logo h1 {
    display: none;
  }
  .menu-bar {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .banner-desc {
    text-align: center;
    margin-right: 0;
    padding: 0;
  }
  .log-btn {
    display: none;
  }
  .menu-icon {
    display: block;
    width: 30px;
    height: 30px;
  }

  .banner-img {
    margin: 10px;
  }

  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .card .one,
  .two,
  .three {
    margin-top: 28px;
  }
  .card .one {
    margin-right: 0;
  }
  .card .two {
    margin-right: 0;
  }
  .card .three {
    margin-right: 0;
  }

  .arrow-icon {
    display: none;
  }

  .story-card {
    margin: 0px 5px 0px 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .story-card-box .story-btn {
    position: absolute;
    top: 33%;
    left: 0px;
  }

  .story-card .item1 {
    display: none;
  }

  .main-container {
    align-items: self-start;
    justify-content: start;
    flex-direction: column;
  }
  .footer-item {
    width: 100%;
    padding: 15px;
  }

  .about-school {
    margin: 30px 0px;
    line-height: 1;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .story-card-box .story-btn {
    position: absolute;
    top: 35%;
    left: 0px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1399px) {
  .story-card-box .story-btn {
    position: absolute;
    top: 50%;
    left: 0px;
  }
}
